* {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background-image: url("https://www.wallpapertip.com/wmimgs/81-810264_simple-background-wallpaper-design-ultra-hd-desktop-fondos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  background-color: #7a7dda;
  width: 100vw;
  &__title {
    text-align: center;
    color: #f4f1bb;
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
  }
}
.taskTitle {
  color: #f4f1bb;
  font-family: "Quicksand", sans-serif;
}
