.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__li {
    margin: 5px 10px;
    background-color: hsl(48, 95%, 66%);
    border: black solid 1px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 170px;
    min-height: 170px;
  }
  &__container {
    display: inline-flex;
  }
  &__title {
    font-family: "Quicksand", sans-serif;
    width: 141px;
    padding: 5px 5px;
    word-wrap: break-word;
  }
  &__xbutton {
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    border: 1px solid black;
    border-top: none;
    height: 20px;
    width: 20px;
    padding: 2px;
    background-color: white;
  }
  &__description {
    padding: 0 5px 5px 5px;
    word-wrap: break-word;
  }
}
@media (min-width: 760px) {
  .list {
    flex-direction: row;
  }
}
